.catalog-block{
  width: 100%;
  margin-left: 0;
  text-align: center;
  background-image: url(../src/catalog/background.png);
  background-size: cover;
}

.catalog-block p{
  font-size: 2.5vw;
  font-weight: bold;
}

.catalog-slider{
  width: 70%;
  background: white;
  margin-left: 15%;
}

.catalog-slider ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 97%;
  background-color: #74b9f9;
  text-align: left;
  padding-left: 2vw;
}

.catalog-slider ul li{
  display: inline-block;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  transform: skew(-30deg);
  border-left: 1px solid white;
  border-right: 1px solid white;
  /*margin-right: -.25vw;*/
  color: white;
  /*transition: .3s;*/
}
.catalog-slider ul li.active{
  background: white;
  color: #74b9f9;
}
.catalog-slider ul li p{
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
  transform: skew(30deg);
  margin: 0;
  padding: .75vw 1.25vw;;
  font-size: 2vw;
}

.catalog-slider ul li:hover{
  /*background: white;*/
  /*color: #74b9f9;*/
  /*transition: .3s;*/
  cursor: pointer;
}

.white-strip{
  margin-top: -1px;
  width: 100%;
  height: 2px;
  background: white;
}


.catalog-slider-unit{
  width: 100%;
  vertical-align: top;
}
.catalog-slider-unit-left{
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.catalog-slider-unit-left img{
  width: 90%;
  padding: 0 5% 5% 5%;
}

.warehouse{
  color: black;
  font-size: 1.2vw !important;
}


.catalog-slider-unit-right{
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.catalog-slider-unit-right img{
  width: 100%;
}

.catalog-slider-unit-left-text{
  display: inline-block;
  width: 49%;
}

.catalog-slider-unit-left-text p:nth-of-type(1){
  font-size: 1.6vw;
  margin: 0;
  padding: 0;

}
.catalog-slider-unit-left-text p:nth-of-type(2){
  margin: 0;
  padding: 0;
}

.catalog-slider-unit-right{
  text-align: left;
}
.catalog-slider-unit-right p{
  margin: 0;
  padding: 0;
}
.catalog-slider-unit-right p.logo{
  color: #74b9f9;
  font-size: 1.8vw;
  margin-top: 3vw;
}
.catalog-slider-unit-right div{
  display: inline-block;
  width: 30%;
  margin-top: 2vw;
  margin-bottom: 3vw;
}
.catalog-slider-unit-right div p{
  font-size: 1vw;

}
.catalog-slider-unit-right p.content{
  font-size: 1vw;
}
.catalog-slider-unit-right img{
    display: inline;
    width: 25%;
    margin-left: 7%;
    margin-top: 3vw;
    margin-bottom: 2vw;
}

.catalog-slider-unit-right button{
  width: 9vw;
  font-size: .75vw;
  text-transform: uppercase;
  background-color: #5ea6fc;
  border: none;
  color: white;
  padding: 1vw 0;
  margin-left: 6vw;
  cursor: pointer;
}

.catalog-block .variants-block{
  text-align: left;
  margin-left: 15%;
  position: relative;
}
.catalog-block .variants-block p{
  color: #74b9f9;
  font-size: 1.7vw;
  padding: 1vw 0;
  display: inline-block;
  margin-right: 2vw;
}
.catalog-block .variants-block div{
  font-size: .7vw;
  background: blue;
  color: white;
  display: inline-block;
  width: 2.3vw;
  height: 1.6vw;
  text-align: center;
  vertical-align: middle;
  padding-top: .7vw;
  position: relative;
  top: -.2vw;
}
