footer{
  background: #2f3033;
  margin: 0;
  padding: 0;
}

footer p{
  text-transform: uppercase;
  margin: 0;
  padding: .25vw 0;
  text-align: center;
  font-size: 1vw;
}
footer p a{
  color: white;
  text-decoration: none;
}
